/* index.css or App.css */

 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .contain{
    width: calc(100%) !important;
  }
  .sidebar{
    width: 0% !important;
    z-index: 100;
  }
}

@media (min-width: 1650px) {
  .contain{
    width: 85% !important;
  }
  .sidebar{
    width: 15% !important;
    z-index: 100;
  }   

}

.cards{
  background-color:#fdf2e6;
}

@media (max-width: 575px) { 
  .cards{
    width: 96% !important;
  }
}

