.table tr {
    font-size: medium !important;
    font-weight: small !important  ;
}

#dateInput::placeholder {
    color: #aaa;
    font-style: italic;
  }


.table-scroller{
      overflow-x: none !important;
   }
  

  @media (max-width:862px){
     .table-scroller{
        overflow-x: scroll !important;
        width: 100% !important;
     }
  }
  .status{
   color: #ff6f00e6 !important;
  }

  .email-and-mob{
   font-size: 12px !important;
  }

  .table-scroller .table thead th{
   background-color: rgb(215, 226, 240);
  }