.Logo {
    display: flex;
  }
  .navBar{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
  }
  
  
  /* @media (max-width: 768px) {
    .Logo {
        display: none;
        justify-content: end;
    }
    .navBar{
        display: flex;
        justify-content: end;
    }
  } */