.head{
    font-size: 1rem;
    text-align: left !important;
    padding: 5%;
   
}

.backIcon{
    color: #039c91;
    font-size: 50px;
}

.otpBtn{
    background-color: #039c91;
    border-color: #039c91;
    width: 45%;
    color: aliceblue;
}
#contain{
    /* font-size: smaller; */
}

@media screen and (max-width:800px) {
    .otpBtn{
        width: 35%;
    }
}
@media screen and (max-width:400px) {
    .otpBtn{
        width: 100%;
    }
}
