/* Otp.module.css */

/* Head Section */
.head {
    font-size: 1rem;
    text-align: left !important;
   /* padding: 5rem; */
   padding:5% 10% 10% 10% !important;

}

/* Back Icon Styling */
.backIcon {
  
    color: #039c91;
    font-size: 8vh;
    padding-top: 10% ;
    padding-bottom: 3%;
}

/* OTP Input Styling */
.otpInput {
    width: 3rem !important;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc;
}

/* Button Styling */
.otpBtn {
    background-color: #039c91;
    color: white;
    font-size: 18px;
    padding: 2%;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.otpBtn:hover {
    background-color: #027f77;
}
.log{   
    background-color:#003366 !important;
}

@media (max-width:368px) {
    .log {
        padding: 0 !important;
        padding-top: 5%;
    }   
    .backIcon{
        padding: 0;
    }
}